In [ ]:
# find schema type
# Example: /home/lambert/spark-2.3.2-bin-hadoop2.7/python/test_support/sql
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Basic').getOrCreate()
df = spark.read.json('people.json')

In [9]:
print(df.show())
print(df.printSchema())

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

None
root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

None

In [11]:
print(df.columns)
print(df.describe().show())

['age', 'name']
+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

None

In [12]:
# change data schema type

from pyspark.sql.types import (StructField, StringType, 
                               IntegerType, StructType)

data_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(), True)]

final_struc = StructType(fields=data_schema)

df = spark.read.json('people.json', schema=final_struc)

df.printSchema()

In [26]:
type(df['age'])

pyspark.sql.column.Column

In [25]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [23]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [35]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [33]:
df.head(2)[0]

Row(age=None, name='Michael')

In [31]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [37]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [40]:
df.withColumn('doubleage', df['age']*2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [41]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [42]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [52]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

# create temp table for SQL to use
df.createOrReplaceTempView('people')

results = spark.sql("SELECT * FROM people")

results.show()

In [62]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [64]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+